---
import Base from "../layouts/Base.astro";
import Header from "../components/Header.astro";
import Grid from "../layouts/Grid.astro";
import HeaderTitle from "../components/HeaderTitle.astro";
import CardContent from "../components/CardContent.astro";
import Categories from "../components/Categories.astro";
import Card from "../components/Card.astro";
import categorieList from "../constants/CategorieList";
import filterCategories from "../utils/FilterCategories";
import sortByDate from "../utils/SortByDate";
import PostProps from "../constants/interfaces/PostProps";

const posts = await Astro.glob("../posts/*.mdx");
const sortedPosts = sortByDate(posts);
const firstPost = posts[0].frontmatter;
const firstPostCategories = filterCategories(
  firstPost.categories,
  categorieList
);
---

<Base
  content={"MarcellusCodes web dev club learn from various technologies like headless cms systems, react, nextjs, animations, framer motion and alot more"}
  title="Welcome to MarcellusCodes web dev Club"
>
  <Header index={true}>
    <article>
      <HeaderTitle href={`/posts/${firstPost.href}`} title={firstPost.title} />
      <div class="py-6"></div>
      <div class="flex flex-col md:flex-row items-start justify-between pb-6">
        <div class="flex flex-row items-start space-x-6">
          <CardContent
            image={`${firstPost.image}`}
            author={firstPost.author}
            difficulty={firstPost.difficulty}
            created_at={firstPost.created_at}
            header={true}
          />
        </div>
        <div class="py-6 md:py-0"></div>
        <Categories
          heading={false}
          theme={false}
          categories={firstPostCategories}
        />
      </div>
    </article>
  </Header>
  <main>
    <section>
      <Grid>
        <div class="w-full h-auto flex flex-col items-start -space-y-[1px]">
          <aside class="block md:hidden w-full">
            <Categories
              heading={true}
              theme={true}
              categories={categorieList}
              aside={true}
            />
          </aside>
          <div class="py-6 md:py-0"></div>
          {
            sortedPosts
              .slice(1)
              .map((post: PostProps) => (
                <Card
                  href={post.frontmatter.href}
                  title={post.frontmatter.title}
                  image={post.frontmatter.image}
                  author={post.frontmatter.author}
                  difficulty={post.frontmatter.difficulty}
                  created_at={post.frontmatter.created_at}
                  categories={post.frontmatter.categories}
                />
              ))
          }
        </div>
        <div class="hidden md:flex"></div>
        <aside class="hidden md:block w-full">
          <Categories heading={true} theme={true} categories={categorieList} />
        </aside>
      </Grid>
    </section>
  </main>
</Base>
