---
import Base from "../layouts/Base.astro";
import Header from "../components/Header.astro";
import Grid from "../layouts/Grid.astro";
import HeaderTitle from "../components/HeaderTitle.astro";
import CardContent from "../components/CardContent.astro";
import Categories from "../components/Categories.astro";
import Card from "../components/Card.astro";
import categorieList from "../constants/CategorieList";

const posts = await Astro.glob("../posts/*.mdx");
---

<Base title="Welcome to MarcellusCodes web dev Club">
  <Header>
    <article>
      <HeaderTitle
        href="/"
        title="how to control viewport animations using the margin prop"
      />
      <div class="py-6"></div>
      <div class="flex flex-row items-start justify-between">
        <div class="flex flex-row items-start space-x-6">
          <CardContent
            image="/assets/margin_prop.png"
            author="Marcel Pohl"
            difficulty="Easy"
            created_at="August 9, 2022"
            header={true}
          />
        </div>
        <li
          class="justify-self-center border group hover:bg-black bg-transparent border-black list-none rounded-md duration-300 inline-flex"
        >
          <a
            class="py-2 px-6 text-md text-black group-hover:text-grey group-hover:underline decoration-grey"
            href="/"
            >InView
          </a>
        </li>
      </div>
    </article>
  </Header>
  <main>
    <section>
      <Grid>
        <div class="w-full h-auto flex flex-col items-start -space-y-[1px]">
          {
            posts.map((post) => (
              <Card
                href={post.frontmatter.href}
                title={post.frontmatter.title}
                image={post.frontmatter.image}
                author={post.frontmatter.author}
                difficulty={post.frontmatter.difficulty}
                created_at={post.frontmatter.created_at}
                categories={post.frontmatter.categories}
              />
            ))
          }
        </div>
        <div></div>
        <aside class="w-full">
          <Categories heading={true} theme={true} categories={categorieList} />
        </aside>
      </Grid>
    </section>
  </main>
</Base>
